<nav id="mainNav"
     class="navbar navbar-expand-lg bg-transparent py-sm-4 fixed-top"
     data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{% url "core:home" %}">Mikuna wasi</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarColor01"
                aria-controls="navbarColor01"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/' %}active{% endif %}"
                       href="{% url "core:home" %}">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item mx-sm-5">
                    <a class="nav-link {% if request.path == '/day-menu/' %}active{% endif %}"
                       href="{% url "core:day-menu" %}">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/tables-status/' %}active{% endif %}"
                       href="{% url "core:tables-status" %}">Tables</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
