{% extends "base.html" %}
{% block title %}
  Confirm Delete
{% endblock title %}
{% block content %}
  <section class="w-100 min-vh-100 mt-navbar">
    <div class="container py-5 text-center max-width-container">
      <h2 class="mb-5">Delete Menu Item</h2>
      <p>
        Are you sure you want to delete <strong>"{{ menu_item.name }}"</strong>?
      </p>
      <form method="post">
        {% csrf_token %}
        <div class="mt-5 d-flex justify-content-center align-items-center gap-2">
          <button type="submit" class="btn btn-danger">Yes, Delete</button>
          <a href="{{ next }}" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}
