{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <section class="w-100 min-vh-100 mt-navbar">
        <div class="container py-5 max-width-container">
            <h2 class="mb-5 text-center">Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-5 d-flex justify-content-center align-items-center gap-2">
                    <button class="btn btn-primary" type="submit">Login</button>
                    <a class="btn btn-outline-secondary" href="{% url "core:home" %}">Cancel</a>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
