{% extends "base.html" %}
{% block title %}
    Daily Menu
{% endblock title %}
<span />
{% block content %}
    <section class="w-100 min-vh-100 mt-navbar">
        <div class="container py-5">
            <!-- Alert Messages START -->
            {% include "partials/alert_messages.html" %}
            <!-- Alert Messages END -->
            <h1 class="mb-4">Menu</h1>
            <a class="btn btn-primary mb-3"
               href="{% url "menu:daily-menu-create" %}">Add New Daily Menu</a>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for menu in daily_menu %}
                        <tr>
                            <td>{{ menu }}</td>
                            <td>
                                <a class="btn btn-sm btn-outline-secondary"
                                   href="{% url "menu:daily-menu-detail" pk=menu.pk %}">View</a>
                                <a class="btn btn-sm btn-outline-primary"
                                   href="{% url "menu:daily-menu-update" pk=menu.pk %}">Edit</a>
                                <a class="btn btn-sm btn-outline-danger"
                                   href="{% url "menu:daily-menu-delete" pk=menu.pk %}">Delete</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No daily menus found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}
