{% extends "base.html" %}
{% block title %}
    Menu Item Detail
{% endblock title %}
{% block content %}
    <h2>{{ menu_item.name }}</h2>
    <ul class="list-group mb-3">
        <li class="list-group-item">
            <strong>Price:</strong>S/. {{ menu_item.price }}
        </li>
        {% if menu_item.description %}
            <li class="list-group-item">
                <strong>Description:</strong> {{ menu_item.description }}
            </li>
        {% endif %}
        <li class="list-group-item">
            <strong>Category:</strong> {{ menu_item.category }}
        </li>
    </ul>
    <a href="{% url "menu:menu-item-update" pk=menu_item.pk %}?next={{ request.path }}"
       class="btn btn-warning">Edit</a>
    <a href="{% url "menu:menu-item-delete" pk=menu_item.pk %}"
       class="btn btn-danger">Delete</a>
    <a href="{% url "menu:menu-item-list" %}" class="btn btn-secondary">Back to list</a>
{% endblock content %}
