{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  {% if menu_item %}
    Update
  {% else %}
    Create
  {% endif %}
  Daily Menu
{% endblock title %}
{% block content %}
  <section class="w-100 min-vh-100 mt-navbar">
    <div class="container py-5">
      <h2>{{ menu_item.pk|yesno:"Update Menu Item,Create Menu Item" }}</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <h4>Items</h4>
        {{ formset.management_form }}
        {% for form in formset %}<div class="card p-3 mb-2">{{ form|crispy }}</div>{% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-outline-secondary" href="{{ next }}">Cancel</a>
      </form>
    </div>
  </section>
{% endblock content %}
