{% extends "base.html" %}
{% block title %}
    Expenses
{% endblock title %}
{% block content %}
    <h1 class="text-xl font-bold mb-4">Expenses</h1>
    <a href="{% url "expenses:expense-create" %}"
       class="btn btn-primary mb-4">Add Expense</a>
    <ul>
        {% for expense in expenses %}
            <li class="mb-2">
                <a href="{% url "expenses:expense-detail" pk=expense.pk %}">{{ expense.description }} - ${{ expense.amount }}</a>
            </li>
        {% empty %}
            <li>No expenses yet.</li>
        {% endfor %}
    </ul>
{% endblock content %}
