{% extends "base.html" %}
{% block title %}
    Table Detail
{% endblock title %}
{% block content %}
    <h2>Table #{{ table.table_number }}</h2>
    <ul class="list-group mb-3">
        <li class="list-group-item">
            <strong>Seats:</strong> {{ table.seats }}
        </li>
        <li class="list-group-item">
            <strong>Status:</strong> {{ table.get_status_display }}
        </li>
    </ul>
    <a href="{% url "tables:table-update" pk=table.pk %}?next={{ request.path }}"
       class="btn btn-primary">Edit</a>
    <a href="{% url "tables:table-delete" pk=table.pk %}?next={{ request.path }}"
       class="btn btn-danger">Delete</a>
    <a href="{% url "tables:table-list" %}"
       class="btn btn-outline-secondary">Back</a>
{% endblock content %}
