{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    {% if table %}
        Update
    {% else %}
        Create
    {% endif %}
    Table
{% endblock title %}
{% block content %}
    <h2>{{ table.pk|yesno:"Update Table,Create Table" }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{ next }}" class="btn btn-outline-secondary">Cancel</a>
    </form>
{% endblock content %}
