{% extends "base.html" %}
{% block title %}
    Daily Menu Item Detail
{% endblock title %}
{% block content %}
    <section class="w-100 min-vh-100 mt-navbar">
        <div class="container py-5">
            <!-- Alert Messages START -->
            {% include "partials/alert_messages.html" %}
            <!-- Alert Messages END -->
            <h2>{{ daily_menu_item.daily_menu }}</h2>
            <ul class="list-group mb-3">
                <li class="list-group-item">
                    <strong>Menu Item:</strong> {{ daily_menu_item.menu_item }}
                </li>
                <li class="list-group-item">
                    <strong>Stock:</strong> {{ daily_menu_item.stock }}
                </li>
                <li class="list-group-item">
                    <strong>Sold:</strong> {{ daily_menu_item.sold_quantity }}
                </li>
            </ul>
            <a href="{% url "menu:daily-menu-item-update" pk=daily_menu_item.pk %}?next={{ request.path }}"
               class="btn btn-primary">Edit</a>
            <a href="{% url "menu:daily-menu-item-delete" pk=daily_menu_item.pk %}?next={{ request.path }}"
               class="btn btn-danger">Delete</a>
            <a href="{% url "menu:daily-menu-item-list" %}"
               class="btn btn-outline-secondary">Cancel</a>
        </div>
    </section>
{% endblock content %}
