{% extends "base.html" %}
{% block title %}
    Daily Menu Item Detail
{% endblock title %}
{% block content %}
    <section class="w-100 min-vh-100 mt-navbar">
        <div class="container py-5 max-width-container">
            <!-- Alert Messages START -->
            {% include "partials/alert_messages.html" %}
            <!-- Alert Messages END -->
            <h2 class="mb-5 text-center">{{ daily_menu_item.menu_item }}</h2>
            <div>
                <p>
                    <strong>Date:</strong> {{ daily_menu_item.daily_menu }}
                </p>
                <p>
                    <strong>Stock:</strong> {{ daily_menu_item.stock }}
                </p>
                <p>
                    <strong>Sold:</strong> {{ daily_menu_item.sold_quantity }}
                </p>
            </div>
            <div class="mt-5 d-flex justify-content-center align-items-center gap-2">
                <a href="{% url "menu:daily-menu-item-update" pk=daily_menu_item.pk %}?next={{ request.get_full_path|urlencode }}"
                   class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                <a href="{% url "menu:daily-menu-item-delete" pk=daily_menu_item.pk %}?next={{ request.get_full_path|urlencode }}"
                   class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete</a>
                <a href="{{ previous }}" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </div>
    </section>
{% endblock content %}
